Repository amhlongo-dvt/craft-shop, changes with the owners that CODEOWNERS names for each.
All owners: @my-org/catalog-team, @my-org/checkout-team, @msadmin, @cssexpert

feat: setting up the mini-apps and instaling styles
  apps/catalog/project.json
  apps/checkout/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @my-org/catalog-team, @my-org/checkout-team

feat: added a header
  libs/ui/.babelrc
  libs/ui/.eslintrc.json
  libs/ui/README.md
  libs/ui/jest.config.ts
  libs/ui/project.json
  libs/ui/src/index.ts
  libs/ui/src/lib/header.module.css
  libs/ui/src/lib/header.spec.tsx
  libs/ui/src/lib/header.tsx
  libs/ui/tsconfig.json
  libs/ui/tsconfig.lib.json
  libs/ui/tsconfig.spec.json
  tsconfig.base.json
Owners: @cssexpert

feat: added a header
  apps/catalog/src/app/app.tsx
  apps/checkout/src/app/app.tsx
  libs/ui/src/index.ts
  libs/ui/src/lib/header.tsx
Owners: @my-org/catalog-team, @my-org/checkout-team

feat: setting up routing
  apps/catalog/project.json
  apps/catalog/proxy.conf.json
  apps/checkout/project.json
Owners: @my-org/catalog-team, @my-org/checkout-team

feat: Setting up a mocked product list
  apps/catalog/src/assets/apple.jpg
  apps/catalog/src/assets/bananas.jpg
  apps/catalog/src/assets/orange.jpg
  libs/mocks/src/index.ts
  libs/mocks/src/lib/product-list-mocks.tsx
Owners: @my-org/catalog-team

feat: Adding the product grid
  apps/catalog/src/app/app.tsx
  apps/catalog/src/app/product-card.tsx
  apps/catalog/src/app/product-list.tsx
  libs/mocks/.babelrc
  libs/mocks/.eslintrc.json
  libs/mocks/README.md
  libs/mocks/jest.config.ts
  libs/mocks/project.json
  libs/mocks/src/index.ts
  libs/mocks/src/lib/mocks.module.css
  libs/mocks/src/lib/mocks.spec.tsx
  libs/mocks/src/lib/product-list-mocks.tsx
  libs/mocks/tsconfig.json
  libs/mocks/tsconfig.lib.json
  libs/mocks/tsconfig.spec.json
  tsconfig.base.json
Owners: @my-org/catalog-team, @cssexpert

feat: Adding the checkout components
  apps/checkout/src/app/app.tsx
  apps/checkout/src/app/basket.tsx
Owners: @my-org/checkout-team

feat: Setting up a Global Shared State
  apps/catalog/src/app/product-card.tsx
  apps/checkout/src/app/app.tsx
  apps/checkout/src/app/basket.tsx
  libs/custom-hooks/.babelrc
  libs/custom-hooks/.eslintrc.json
  libs/custom-hooks/README.md
  libs/custom-hooks/jest.config.ts
  libs/custom-hooks/project.json
  libs/custom-hooks/src/index.ts
  libs/custom-hooks/src/lib/use-session-storage.module.css
  libs/custom-hooks/src/lib/use-session-storage.spec.tsx
  libs/custom-hooks/src/lib/use-session-storage.tsx
  libs/custom-hooks/tsconfig.json
  libs/custom-hooks/tsconfig.lib.json
  libs/custom-hooks/tsconfig.spec.json
  libs/ui/src/lib/header.tsx
  libs/utils/.babelrc
  libs/utils/.eslintrc.json
  libs/utils/README.md
  libs/utils/jest.config.ts
  libs/utils/project.json
  libs/utils/src/index.ts
  libs/utils/src/lib/get-session-storage.ts
  libs/utils/src/lib/utils.spec.ts
  libs/utils/tsconfig.json
  libs/utils/tsconfig.lib.json
  libs/utils/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @my-org/catalog-team, @my-org/checkout-team, @cssexpert

chore: deleted test templates
  apps/catalog-e2e/.eslintrc.json
  apps/catalog-e2e/cypress.config.ts
  apps/catalog-e2e/project.json
  apps/catalog-e2e/src/e2e/app.cy.ts
  apps/catalog-e2e/src/fixtures/example.json
  apps/catalog-e2e/src/support/app.po.ts
  apps/catalog-e2e/src/support/commands.ts
  apps/catalog-e2e/src/support/e2e.ts
  apps/catalog-e2e/tsconfig.json
  apps/checkout-e2e/.eslintrc.json
  apps/checkout-e2e/cypress.config.ts
  apps/checkout-e2e/project.json
  apps/checkout-e2e/src/e2e/app.cy.ts
  apps/checkout-e2e/src/fixtures/example.json
  apps/checkout-e2e/src/support/app.po.ts
  apps/checkout-e2e/src/support/commands.ts
  apps/checkout-e2e/src/support/e2e.ts
  apps/checkout-e2e/tsconfig.json
Owners: none

chore: removed the reverse proxy
  apps/catalog/project.json
  apps/catalog/proxy.conf.json
  apps/checkout/project.json
Owners: @my-org/catalog-team, @my-org/checkout-team

feat: added a host app
  apps/app-shell/.babelrc
  apps/app-shell/.browserslistrc
  apps/app-shell/.eslintrc.json
  apps/app-shell/module-federation.config.js
  apps/app-shell/project.json
  apps/app-shell/src/app/app.module.css
  apps/app-shell/src/app/app.tsx
  apps/app-shell/src/app/nx-welcome.tsx
  apps/app-shell/src/assets/.gitkeep
  apps/app-shell/src/bootstrap.tsx
  apps/app-shell/src/environments/environment.prod.ts
  apps/app-shell/src/environments/environment.ts
  apps/app-shell/src/favicon.ico
  apps/app-shell/src/index.html
  apps/app-shell/src/main.ts
  apps/app-shell/src/polyfills.ts
  apps/app-shell/src/remotes.d.ts
  apps/app-shell/src/styles.css
  apps/app-shell/tsconfig.app.json
  apps/app-shell/tsconfig.json
  apps/app-shell/webpack.config.js
  apps/app-shell/webpack.config.prod.js
  libs/custom-hooks/src/remotes.d.ts
  package.json
  pnpm-lock.yaml.689593747
Owners: @cssexpert

chore: setup module federation for catalog
  apps/catalog/module-federation.config.js
  apps/catalog/project.json
  apps/catalog/webpack.config.js
Owners: @my-org/catalog-team

chore: setup module federation for checkout
  apps/checkout/module-federation.config.js
  apps/checkout/project.json
  apps/checkout/webpack.config.js
Owners: @my-org/checkout-team

feat: added the ssr version
  my-mfe-ssr/.eslintrc.js
  my-mfe-ssr/.gitignore
  my-mfe-ssr/README.md
  my-mfe-ssr/apps/docs/.eslintrc.js
  my-mfe-ssr/apps/docs/README.md
  my-mfe-ssr/apps/docs/next-env.d.ts
  my-mfe-ssr/apps/docs/next.config.js
  my-mfe-ssr/apps/docs/package.json
  my-mfe-ssr/apps/docs/pages/index.tsx
  my-mfe-ssr/apps/docs/tsconfig.json
  my-mfe-ssr/apps/web/.eslintrc.js
  my-mfe-ssr/apps/web/README.md
  my-mfe-ssr/apps/web/next-env.d.ts
  my-mfe-ssr/apps/web/next.config.js
  my-mfe-ssr/apps/web/package.json
  my-mfe-ssr/apps/web/pages/index.tsx
  my-mfe-ssr/apps/web/tsconfig.json
  my-mfe-ssr/package.json
  my-mfe-ssr/packages/eslint-config-custom/index.js
  my-mfe-ssr/packages/eslint-config-custom/package.json
  my-mfe-ssr/packages/tsconfig/README.md
  my-mfe-ssr/packages/tsconfig/base.json
  my-mfe-ssr/packages/tsconfig/nextjs.json
  my-mfe-ssr/packages/tsconfig/package.json
  my-mfe-ssr/packages/tsconfig/react-library.json
  my-mfe-ssr/packages/ui/Button.tsx
  my-mfe-ssr/packages/ui/index.tsx
  my-mfe-ssr/packages/ui/package.json
  my-mfe-ssr/packages/ui/tsconfig.json
  my-mfe-ssr/pnpm-lock.yaml
  my-mfe-ssr/pnpm-workspace.yaml
  my-mfe-ssr/turbo.json
Owners: none

chore: updated the turbo.json
  my-mfe-ssr/turbo.json
Owners: none

feat: added a header for ssr and created home directory
  my-mfe-ssr/apps/docs/pages/index.tsx
  my-mfe-ssr/apps/home/.eslintrc.js
  my-mfe-ssr/apps/home/README.md
  my-mfe-ssr/apps/home/components/Header.tsx
  my-mfe-ssr/apps/home/next-env.d.ts
  my-mfe-ssr/apps/home/next.config.js
  my-mfe-ssr/apps/home/package.json
  my-mfe-ssr/apps/home/pages/index.tsx
  my-mfe-ssr/apps/home/tsconfig.json
  my-mfe-ssr/apps/web/.eslintrc.js
  my-mfe-ssr/apps/web/README.md
  my-mfe-ssr/apps/web/next-env.d.ts
  my-mfe-ssr/apps/web/next.config.js
  my-mfe-ssr/apps/web/package.json
  my-mfe-ssr/apps/web/tsconfig.json
  my-mfe-ssr/pnpm-lock.yaml
Owners: none

some minor fixes
  my-mfe-ssr/apps/catalog/.eslintrc.js
  my-mfe-ssr/apps/catalog/README.md
  my-mfe-ssr/apps/catalog/components/Header.tsx
  my-mfe-ssr/apps/catalog/next-env.d.ts
  my-mfe-ssr/apps/catalog/next.config.js
  my-mfe-ssr/apps/catalog/package.json
  my-mfe-ssr/apps/catalog/pages/_app.tsx
  my-mfe-ssr/apps/catalog/pages/index.tsx
  my-mfe-ssr/apps/catalog/tsconfig.json
  my-mfe-ssr/apps/home/pages/_app.tsx
  my-mfe-ssr/pnpm-lock.yaml
Owners: none

feat: added a catlog with module federation ssr
  my-mfe-ssr/apps/catalog/components/ProductCard.tsx
  my-mfe-ssr/apps/catalog/mocks/product-list-mocks.tsx
  my-mfe-ssr/apps/catalog/next.config.js
  my-mfe-ssr/apps/catalog/package.json
  my-mfe-ssr/apps/catalog/pages/index.tsx
  my-mfe-ssr/apps/catalog/public/assets/.gitkeep
  my-mfe-ssr/apps/catalog/public/assets/apple.jpg
  my-mfe-ssr/apps/catalog/public/assets/bananas.jpg
  my-mfe-ssr/apps/catalog/public/assets/orange.jpg
  my-mfe-ssr/pnpm-lock.yaml
Owners: none

CODEOWNERS:

/apps/catalog @my-org/catalog-team
/apps/checkout @my-org/checkout-team
/tools @msadmin
*.css @cssexpert
